/* Colors and background */
:root {
    --main-color: #ffffff;
    --background-color: #f0f2f5;
    --input-background-color: #3e3e3e;
    --input-border-color: transparent;
    --button-color: #404dff;
    --button-hover-color: #5735e0;
    --input-text-color: #ffffff;
    --input-placeholder-color: #bbbbbb;
}

/* Main container */
.logon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align to the top */
    height: 100vh;
    background: linear-gradient(135deg, #05baca, #0303a1); /* Blue gradient background */
    padding-top: 165px; /* Add some padding at the top */
}

/* Form section */
.form {
    background: rgba(18, 39, 197, 0.85); /* Dark semi-transparent background */
    padding: 15px; /* Reduced padding */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 320px; /* Reduced max-width */
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    color: var(--main-color); /* Set the "Login" text color to white */
    margin-bottom: 15px; /* Add some margin below the heading */
}

.input-group {
    position: relative;
    margin-bottom: 15px; /* Reduced margin-bottom */
    display: flex;
    align-items: center;
    width: 100%;
}

input {
    flex: 1;
    padding: 10px 35px; /* Reduced padding */
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background-color: var(--input-background-color);
    color: var(--input-text-color);
    font-size: 14px;
}

input::placeholder {
    color: var(--input-placeholder-color);
}

input:focus {
    outline: none;
    border-color: var(--input-border-color);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px; /* Reduced padding */
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--main-color);
    font-size: 14px; /* Reduced font-size */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px; /* Reduced margin-top */
}

button:hover {
    background-color: var(--button-hover-color);
}

.input-group > svg {
    position: absolute;
    left: 10px;
    color: var(--input-placeholder-color);
}

button > svg {
    margin-right: 10px;
}

.form a {
    color: var(--main-color);
    font-size: 14px;
    text-decoration: none;
    margin-top: 1px;
    display: block;
}

.social-buttons {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    gap: 40px; /* Space between buttons */
}

.social-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px; /* Reduced padding for smaller buttons */
    color: white;
    border-radius: 50%; /* Make the buttons round */
    text-decoration: none;
    font-size: 10px; /* Reduced font size */
    width: 30px; /* Fixed width for smaller buttons */
    height: 24px; /* Fixed height for smaller buttons */
}

.social-icon {
    font-size: 12px; /* Reduced icon size */
}

.instagram-button {
    background-color: #E1306C; /* Instagram color */
}

.instagram-button:hover {
    background-color: #C13584; /* Darker color for hover */
}

.whatsapp-button {
    background-color: #25D366; /* WhatsApp color */
}

.whatsapp-button:hover {
    background-color: #1DA851; /* Darker color for hover */
}

.facebook-button {
    background-color: #3b5998; /* Facebook color */
}

.facebook-button:hover {
    background-color: #2d4373; /* Darker color for hover */
}
