* {

    padding: 0;
    margin: 0;
}

.dashboard-container {
    background-color: #0056b3;
    height: 100vb;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;


}

.menu {

    width: 20%;
    background-color: #ffff;


}

.Principal {
    width: 80%;
    background-color: #ffff;

    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 5px;

}

td {
    border: solid 0.5px #adb9d3;
    padding: 5px;

}

.botoes:hover {
    cursor: pointer;
    background-color: silver;

}